<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.component.css">
    <title>Homepage design</title>
</head>

<body>
    <div class="banner-area">
    <header>
           <div class="menu">
                <ul>
                    <li><a href="/registration">SignUp</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/music">Tracks</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    
                </ul>
            </div>

        </header>
        <!-- <div class="site-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb4tT9lMUSx9FNQjHSAOPwS3l2EL7PGPPPtQ&usqp=CAU" alt="logo"></div> -->
        <!-- <div class="banner-text">
            <h1>Spotify</h1> -->
            <!-- <p>Music has no limits with us,Let the magic of music inspire your soul!</p> -->
            
        <!-- </div> -->
        


    </div>
</body>

